body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
  }
  
  .container {
      width: 80%;
      margin: 0 auto;
  }
  
  .menu {
      display: flex;
      justify-content: space-around;
      padding: 0px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-bottom:-30px ;
  }
  
  .menu-item {
      text-align: center;
      padding: 50px ;
      cursor: pointer;
      width: 25%;
  }
  
  .menu-item:active {
      background-color: #c0c0c0;
      border-radius: 5px;
  }
  
  .content {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      background-color: #ffffff;
      margin-left:-5px;
  }
  
  .description {
      width: 30%;
      background-color: #fff;
      padding: 20px;
      border-radius: 0px 0 0 10px;
      border-left:5px solid #fff;
      background-color: #c0c0c0;
  }
  
  .description h2 {
      font-size: 18px;
  }
  
  .description ul {
      list-style-type: none;
      padding: 0;
  }
  
  .description ul li {
      margin: 10px 0 10px 30px;
      font-weight: bold;
  }
  
  .description button {
      color:white;
      background-color: #ffcc00;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 20px;
  }
  
  .offer {
      width: 65%;
      background-color: #fff;
      padding: 20px;
      border-radius:0  0px 10px 0;
      background-color: #c0c0c0;
  }
  
  .offer-text {
      display: flex;
      align-items: center;
      border:3px solid #ffffff;
      background-color: #c0c0c0;
      border-radius:12px;
  }
  
  .discount {
      font-size: 24px;
      font-weight: bold;
      color: #ffcc00;
      background-color: #ffffff;
      text-align: center;
      padding:10px;
      border-radius:5px 0 0 5px ;
      border:16px;
  }
  
  .offer-applicable {
      font-size: 16px;
      text-align: center;
      padding:10px;
      margin-left: 100px;
  }
  
  .products {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .product {
      width: 30%;
      text-align: center;
  }
  
  .product img {
      width: 100%;
      height: auto;
      padding-bottom: 0px;
      margin-bottom: -10px;
      border-radius: 15px 15px 0 0;
  }
  
  .product-info {
      padding-top:-10px;
      font-size: 14px;
      border-radius: 0 0 15px 15px;
      border:2px solid white;
      background-color: white;
  }
  
  .price {
      font-size: 16px;
      font-weight: bold;
  }
  
  .old-price {
      text-decoration: line-through;
      color: #888;
  }
  