/* styles.css */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #333;
  }
  
  .clock {
	position: relative;
	width: 300px;
	height: 300px;
	border: 20px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .hand {
	position: absolute;
	width: 50%;
	height: 6px;
	background-color: white;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: transform 0.5s ease-in-out;
  }
  
  .hand.hour {
	height: 8px;
  }
  
  .hand.second {
	background-color: red;
  }
  
  .number {
	position: absolute;
	color: white;
	font-size: 24px;
  }
  
  .number1 { top: 30px; left: 160px; }
  .number2 { top: 68px; left: 220px; }
  .number3 { top: 140px; left: 260px; }
  .number4 { top: 220px; left: 220px; }
  .number5 { top: 260px; left: 140px; }
  .number6 { top: 280px; left: 130px; }
  .number7 { top: 260px; left: 40px; }
  .number8 { top: 220px; left: -20px; }
  .number9 { top: 140px; left: -60px; }
  .number10 { top: 68px; left: -20px; }
  .number11 { top: 30px; left: 40px; }
  .number12 { top: 0px; left: 130px; }
  